.neo_platzhalter {
    width: 100%;
    height: 2em;
}
.neo_wochenwechsel {
    width: 100%;
    height: 2em;
}

#neo_wochenwechsel_minus {
    width: 16px;
    float: left;
    margin-left: 5%;
}

#neo_wochenwechsel_plus {
    width: 16px;
    float: right;
    margin-right: 5%;
}
#neo_wochenwechsel_datum {
    width: 80%;
    float: left;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.neo_dozenten_suche {
    width: 400px;
    margin-left: 30%;
    border: 4px solid #F3AE00;
    border-radius: 3px;
    padding: 5px;
    height: 100px;
}