.neo_ferien {
    height: 20px;
    font-size: 14px;
    margin-top: 5px;
    border: 4px solid #F3AE00;
    background-color: #F3AE00;
    float: left;
    width: 100%;
}

.neo_termine {
    margin-right: 5px;
    display: none;
    float: left;
    width: 100%;
}

.neo_einzeltermin {
    width: 50%;
    font-size: 14px;
    height: 20px;
    float: left;
    border-bottom: 1px solid #F3AE00;
    border-left: 4px solid #F3AE00;

}

.neo_einzeltermin_edit {
    width: 24%;
    height: 20px;
    float: left;
    border-bottom: 1px solid #F3AE00;
    border-right: 4px solid #F3AE00;
}